.chart-wrapper {
  border-radius: 20px;
  padding: 20px;
  background-color: #f9fafb;
}
h1.header {
  font-size: 24px;
  font-weight: 600;
}
h2.sub-header {
  font-size: 24px;
  font-weight: 600;
  color: #d0d5dd;
}
